<div class="contents row">
  <div class="container " id="aiu">
    <h2>Sign up</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="field">
        <%= f.label :name %> <em>(6 characters maximum)</em><br />
        <%= f.text_field :name,  class:"dark-theme" ,autofocus: true, maxlength: "6"%>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email ,class:"dark-theme"%>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class:"dark-theme" , autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation,  class:"dark-theme" ,autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_reveal %>
        <%= f.check_box :password_reveal %>
      </div>

      

      <div class="actions">
        <%= f.submit "登録" %>
      </div>
    <% end %>

<script>

  var password = document.getElementById('user_password');
  var password_confirmation = document.getElementById('user_password_confirmation');
  var passwordCheck = document.getElementById('user_password_reveal');
    passwordCheck.addEventListener('change', function() {
      if (passwordCheck.checked) {
        password.setAttribute('type', 'text');
        password_confirmation.setAttribute('type', 'text');
      } else {
        password.setAttribute('type', 'password');
        password_confirmation.setAttribute('type', 'password');
      }
    }, false);

onload();
  var btn_b = document.getElementById("btn-mode");
    btn_b.addEventListener("change", () => {
      if (btn_b.checked == true) {
        document.cookie = 'bgcolor=dark; path=/'; 
    dark();
      } else {
        document.cookie = 'bgcolor=light; path=/';
    light();
      }
});

// ダークモード
function dark (){
  var footer = document.getElementById('dark_light_change2');
  var head_1 = document.getElementById('abc');
  var tag1 = document.getElementById('tag1');
  var names = document.getElementById('user_name');
  var email = document.getElementById('user_email');
  var pass = document.getElementById('user_password');
  var passcom = document.getElementById('user_password_confirmation');
  var container = document.getElementById('aiu');
    document.body.classList.remove("light-theme");
    document.body.classList.add("dark-theme");
    footer.classList.remove("light-theme");
    footer.classList.add("dark-theme");
    head_1.classList.remove("light-theme");
    head_1.classList.add("dark-theme");
    tag1.classList.remove("light-theme");
    tag1.classList.add("dark-theme");
    pass.classList.remove("light-theme");
    pass.classList.add("dark-theme");
    passcom.classList.remove("light-theme");
    passcom.classList.add("dark-theme");
    container.classList.remove("light-theme");
    container.classList.add("dark-theme");
    email.classList.remove("light-theme");
    email.classList.add("dark-theme");
    names.classList.remove("light-theme");
    names.classList.add("dark-theme");
}

  // ライトモード
function light(){
  var footer = document.getElementById('dark_light_change2');
  var head_1 = document.getElementById('abc');
  var tag1 = document.getElementById('tag1');
  var names = document.getElementById('user_name');
  var email = document.getElementById('user_email');
  var pass = document.getElementById('user_password');
  var passcom = document.getElementById('user_password_confirmation');
  var container = document.getElementById('aiu');
    document.body.classList.remove("dark-theme");
    document.body.classList.add("light-theme");
    footer.classList.remove("dark-theme");
    footer.classList.add("light-theme");
    head_1.classList.remove("dark-theme");
    head_1.classList.add("light-theme");
    tag1.classList.remove("dark-theme");
    tag1.classList.add("light-theme");
    pass.classList.remove("dark-theme");
    pass.classList.add("light-theme");
    passcom.classList.remove("dark-theme");
    passcom.classList.add("light-theme");
    container.classList.remove("dark-theme");
    container.classList.add("light-theme");
    email.classList.remove("dark-theme");
    email.classList.add("light-theme");
    names.classList.remove("dark-theme");
    names.classList.add("light-theme");
}


function onload(){
  var btn_b = document.getElementById("btn-mode");
  var cookies = document.cookie;
  var position = cookies.indexOf('light');
  if(cookies.indexOf('light')!=-1){
    light();
    btn_b.checked = false;
  }else{
    dark();
    btn_b.checked = true;
  }
}

</script>

  </div>
</div>
