  <div class="container">
    <% if current_user.id == @time_report.user_id %>
      <%= form_with(model: [@time_report, @comment], local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <%= f.text_area :content, placeholder: "詳細をメモしてください", rows: "2",class:"dark-theme" %>
        <%= f.submit "保存する" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
      </strong>
    <% end %>
    <div class="comments">
      <h4>＜詳細一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= comment.user.name %>：</strong>
            <% if user_signed_in? && current_user.id == @time_report.user_id && current_user.id == comment.user_id %>
            <%= link_to '❌', time_report_comment_path(comment.id), method: :delete %>
            <%= comment.content %>
              <% end %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>

function OnLinkClick(){
  window.location.href = '/';
}
  var btn_b = document.getElementById("btn-mode");
    btn_b.addEventListener("change", () => {
      if (btn_b.checked == true) {
        document.cookie = 'bgcolor=dark; path=/'; 
    dark();
      } else {
        document.cookie = 'bgcolor=light; path=/';
    light();
      }
});

  // ダークモード
function dark (){
  var footer = document.getElementById('dark_light_change2');
  var head_1 = document.getElementById('abc');
  var tag1 = document.getElementById('tag1');
  var comment = document.getElementById('comment_content');
    document.body.classList.remove("light-theme");
    document.body.classList.add("dark-theme");
    footer.classList.remove("light-theme");
    footer.classList.add("dark-theme");
    head_1.classList.remove("light-theme");
    head_1.classList.add("dark-theme");
    tag1.classList.remove("light-theme");
    tag1.classList.add("dark-theme");
    comment.classList.remove("light-theme");
    comment.classList.add("dark-theme");
}
  // ライトモード
  function light(){
  var footer = document.getElementById('dark_light_change2');
  var head_1 = document.getElementById('abc');
  var tag1 = document.getElementById('tag1');
  var comment = document.getElementById('comment_content');
    document.body.classList.remove("dark-theme");
    document.body.classList.add("light-theme");
    footer.classList.remove("dark-theme");
    footer.classList.add("light-theme");
    head_1.classList.remove("dark-theme");
    head_1.classList.add("light-theme");
    tag1.classList.remove("dark-theme");
    tag1.classList.add("light-theme");
    comment.classList.remove("dark-theme");
    comment.classList.add("light-theme");
  }


function onload(){
  var btn_b = document.getElementById("btn-mode");
  var cookies = document.cookie;
  var position = cookies.indexOf('light');
  if(cookies.indexOf('light')!=-1){
    light();
    btn_b.checked = false;
  }else{
    dark();
    btn_b.checked = true;
  }
}

</script>