<div class="contents row">
  <div class="container">
    <h2>Log in</h2>
    <%# ログインする際のエラーバンドリングは、layouts/_errorに行かない %>
    <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
<%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, type:"password" ,autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_reveal %>
        <%= f.check_box :password_reveal %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>