<div class="contents row">
  <div class="container" id="aiu" >
    <h2>Log in</h2>
    <%# ログインする際のエラーバンドリングは、layouts/_errorに行かない %>
    <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
<%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class:"dark-theme" ,autofocus: true, id:"user_email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, class:"dark-theme" ,type:"password" ,autocomplete: "off" ,id:"user_password" %>
      </div>

      <div class="field">
        <%= f.label :password_reveal %><br />
        <%= f.check_box :password_reveal %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

<script>

  var password = document.getElementById('user_password');
  var passwordCheck = document.getElementById('user_password_reveal');
    passwordCheck.addEventListener('change', function() {
      if (passwordCheck.checked) {
        password.setAttribute('type', 'text');
      } else {
        password.setAttribute('type', 'password');
      }
    }, false);

onload();

  
    // チェックした時の挙動
    var btn_b = document.getElementById("btn-mode");

    btn_b.addEventListener("change", () => {
      if (btn_b.checked == true) {
        document.cookie = 'bgcolor=dark; path=/'; 
  // ダークモード
    dark();
      } else {
        document.cookie = 'bgcolor=light; path=/';
  // ライトモード
    light();
      }
});

function dark (){
  // チェックした時の挙動
    var footer = document.getElementById('dark_light_change2');
    var head_1 = document.getElementById('abc');
    var pass = document.getElementById('user_password');
    var email = document.getElementById('user_email');
    var container = document.getElementById('aiu');
    var tag1 = document.getElementById('tag1');
  // ダークモード
    footer.classList.remove("light-theme");
    footer.classList.add("dark-theme");
    head_1.classList.remove("light-theme");
    head_1.classList.add("dark-theme");
    document.body.classList.remove("light-theme");
    document.body.classList.add("dark-theme");
    pass.classList.remove("light-theme");
    pass.classList.add("dark-theme");
    email.classList.remove("light-theme");
    email.classList.add("dark-theme");
    container.classList.remove("light-theme");
    container.classList.add("dark-theme");
    tag1.classList.remove("light-theme");
    tag1.classList.add("dark-theme");
} 

function light(){
    var footer = document.getElementById('dark_light_change2');
    var head_1 = document.getElementById('abc');
    var pass = document.getElementById('user_password');
    var email = document.getElementById('user_email');
    var container = document.getElementById('aiu');
    var tag1 = document.getElementById('tag1');
  // ライトモード
    footer.classList.remove("dark-theme");
    footer.classList.add("light-theme");
    head_1.classList.remove("dark-theme");
    head_1.classList.add("light-theme");
    document.body.classList.remove("dark-theme");
    document.body.classList.add("light-theme");
    pass.classList.remove("dark-theme");
    pass.classList.add("light-theme");
    email.classList.remove("dark-theme");
    email.classList.add("light-theme");
    container.classList.remove("dark-theme");
    container.classList.add("light-theme");
    tag1.classList.remove("dark-theme");
    tag1.classList.add("light-theme");
}

function onload(){
  var btn_b = document.getElementById("btn-mode");
  var cookies = document.cookie;
  var position = cookies.indexOf('light');
  if(cookies.indexOf('light')!=-1){
    light();
    btn_b.checked = false;
  }else{
    dark();
    btn_b.checked = true;
  }
}



    
</script>
    
  </div>
</div>